body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    margin: 5%;
}

form {
    background: gold;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

section {
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.result {
    display: flex;
    padding: 10px;
    background: darkorange;

}

input[type=button] {
    display: block;
    margin-right: 10px;
    margin-left: auto;
}

input, select {
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-size: medium;
    padding: 10px 5px 10px 5px;
    display: block;
    margin-right: 10px;
    margin-left: auto;
}

.units {
    display: block;
    margin-right: 10px;
    margin-left: auto;
    text-align: right;
}

.unit-select {
    background-color: transparent;
    border-style: none;
}

.units {
    margin-left: 1px;
}

.form_row {
    display: block;
    margin: 5px;
}

.result_row {
    display: block;
    margin: 5px;
}

.result_row > * {
    margin: 3px;
}