/** { border: 1px solid red; }*/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    margin: 5%;
}

form {
    background: gold;
    padding: 10px;
    margin: 5px;
}

section {
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.result {
    padding: 10px;
    background: darkorange;
    margin: 5px;
}

#buttons {
    clear: both;
    display: flex;
    float: right;
}

input, select {
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-size: medium;
    padding: 10px 5px 10px 5px;
    display: block;
    margin-right: 10px;
    margin-left: auto;
}

input[type=button] {
    width: 100px;
    font-weight: bold;
    background: white;
    border-width: 2px;
}

.units {
    float: right;
    text-align: right;
    width: fit-content;
}

.error {
    float: left;
    padding: 3px;
    display: inline-block;
    max-width: 140px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

.unit-select {
    background-color: transparent;
    border-style: none;
}

.form_row {
    display: block;
    margin: 5px;
}

.result_row {
    display: block;
    margin: 5px;
}

.result_row > * {
    margin: 3px;
}

svg {
    /*border-color: red;*/
    /*border-width: 3px;*/
    /*border-style: solid;*/
    float: left;
}