/** { border: 1px solid red; }*/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    margin: 5%;
    background: #ECECEC;
}

form {
    background: #5DA2D5;
    padding: 10px;
    margin: 5px 0 5px 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

section {
    padding: 10px;
    border-radius: 10px;
    background: #F3D250;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    margin: 5px;
    float: left;
}

.result {
    padding: 10px;
    background: #90CCF4;
    margin: 5px 5px 5px 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    min-width: fit-content;
}

#buttons {
    clear: both;
    display: flex;
    float: right;
}

input, select {
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-size: medium;
    padding: 10px 5px 10px 5px;
    display: block;
    margin-right: 10px;
    margin-left: auto;
}



input[type=button]:hover {
    background: lightgray;
}

input[type=button]:active {
    background: gray;
    color: white;
}

 input[type=button] {
     min-width: 100px;
     width: fit-content;
     font-weight: bold;
     border-width: 2px;
 }

.units {
    float: right;
    text-align: right;
    width: fit-content;
}

.error {
    float: left;
    padding: 3px;
    display: inline-block;
    max-width: 140px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

.unit-select {
    background-color: transparent;
    border-style: none;
}

.form_row {
    display: block;
    margin: 5px;
}

.result_row {
    display: block;
    margin: 5px;
}

.result_row > * {
    margin: 3px;
}

svg {
    float: left;
}

.history {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px;
    max-height: 400px;
    border: 1px solid black;
}

.wrap_history {
    width: 30%;
    margin: 5px 5px 5px 5%;
    background: #C4DBF6;
    padding: 10px;
    border-radius: 15px;
    min-width: 30%;
}

.history_row {
    border: 1px solid black;
    display: inline-flex;
    width: 100%;
    padding: 10px;
}

.history_row:hover {
    background: lightgray;
}

.history_row:active {
    background: gray;
}

div span:nth-child(2) {
    font-weight: bold;
}